<div class="home">
  <img class="logo" src="assets/images/my-avatar.jpeg" alt="Logo" />
  <h1>Hi, I'm <span class="bold">Satoshi S.</span></h1>
  <p>
    I'm a <span class="bold">Full-Stack developer</span> with ecomonics
    education background and passion for building web applications. I'm
    proficint with Python and JavaScript/TypeScript.
  </p>
  <div id="background">
    <!-- ref https://prismic.io/blog/css-animation-examples#:~:text=of%20your%20app.-,21.%20Newton%E2%80%99s%20cradle,-Newton%E2%80%99s%20cradle%20animation -->
    <div class="pendulum">
      <div class="pendulum_box">
        <div class="ball first"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball last"></div>
      </div>
    </div>
  </div>
</div>
